*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

body{
    background-color: black;
}

header{
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 1rem;
}

.h-div{
    font-size: 10px;
    color: white;
    padding: 0.125rem 0.250rem;
    border-radius: 0.200rem;
    background-color: gray;
    margin-right: 0.250rem;
}

main{
    height: 80vh;
    width: 90vw;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.user-display{
    height: calc((100% / 5) - 0.5rem);
    width: calc((100% / 7) - 0.2rem);
    background-image: url("https://picsum.photos/200/300");
    background-size: cover;
    position: relative;
}

.username{
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    font-size: 10px;
    background-color: rgb(128, 128, 128, 0.8);
    padding: 0.200rem 0.225rem;
}







