*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

body{
    background-color: black;
}

header{
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 1rem;
}

.h-div{
    font-size: 10px;
    color: white;
    padding: 0.125rem 0.250rem;
    border-radius: 0.200rem;
    background-color: gray;
    margin-right: 0.250rem;
    cursor: pointer;
}

main{
    height: 80vh;
    width: 90vw;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.user-display{
    height: calc((100% / 5) - 0.5rem);
    width: calc((100% / 7) - 0.2rem);
    background-image: url("https://picsum.photos/200/300");
    background-size: cover;
    position: relative;
}

.username{
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    font-size: 10px;
    background-color: rgb(128, 128, 128, 0.8);
    padding: 0.200rem 0.225rem;
    cursor: pointer;
}

nav{
    height: 10vh;
    width: 100vw;
    padding-left: 0.5rem;
    background-color: rgb(34 34 34);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav p{
    font-size: 10px;
    color: white;
    margin-top: 0.25rem;
}

.wrapper-buttons{
    display: flex;
    cursor: pointer;
}

.wrapper-buttons:nth-of-type(2) .button:nth-of-type(4){
    color: greenyellow;
}

.button{
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 1.2rem;
}

.button.chevron i{
    font-size: 10px;
    
}

.button > i{
    font-size: 24px;
}

.end-meeting-button > button{
    background-color: gray;
    color: red;
    height: 10vh;
    border: none;
    padding: 1rem;
    margin: 0;
    font-weight: 900;
    cursor: pointer;
}









